data/raw/*
data/processed_data/*
data/tvt/*
logs/*
predictions/*
venv/
.DS_Store
.python-version
.venv

!data/raw/.gitkeep
!data/processed_data/.gitkeep
!data/tvt/.gitkeep
!logs/.gitkeep
!predictions/.gitkeep
